{% extends 'main/layout/frame.html' %}

{% block title %}
    Книготека/Головна
{% endblock %}

{% block content %}
<!--    <h2>{{ Adventures }}</h2>-->
<!--    {% for elem in Adventures %}-->
<!--&lt;!&ndash;            Анотація: {{ elem.anons }}<br>&ndash;&gt;-->
<!--&lt;!&ndash;            <div style="text-align: right">{{elem.anons}}</div>&ndash;&gt;-->
<!--            <div><a href="{{ elem }}" class="btn btn-warning">{{ elem }}</a></div>-->
<!--    {% endfor %}-->
    <h2 align="center">Слава Україні!</h2>
    <p style="padding-top: 5px; padding-left: 5px; padding-right: 5px; text-indent: 10px;">Здобути перемогу можна в одній із трьох прозових або поетичній категорії.</p>
    <ul style="padding-top: 5px; padding-left: 35px; padding-right: 5px;">
        <li>"Дивак / Дивачка" - жанри категорій фантастика, фентезі, казка, містика;</li>
        <li>"Правдолюб / Правдолюбка" - жанри категорій детектив, історичний, реалізм;</li>
        <li>"Герой / Героїня" - жанри категорій бойовик, військовий, патріотичний, спортивний;</li>
        <li>"Римотворець / Римотворка" - допускаються вірші будь-якого жанру та розміру.</li>
    </ul>
{% endblock %}