{% extends 'main/layout/frame.html' %}

{% block title %}
    Книготека/Каталог
{% endblock %}

{% block content %}
<!--{{ kniteka }}-->
    <h3 style="text-align: center">Каталог</h3>
    {% if kniteka %}
        {% for el in kniteka %}
            <div class="alert alert-warning">
                Назва: {{ el.title }}<br>
                Анотація: {{ el.anons }}<br>
                <div style="text-align: right">{{el.date}}</div>
                <div>
                    <a href="{% url 'catalog_detail' el.id %}" class="btn btn-warning">Читати онлайн</a>
<!--                    <a href="{% url 'catalog_detail' el.path %}" class="btn btn-warning">Завантажити</a>-->
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Записами тут і не пахло!</p>
    {% endif %}
{% endblock %}